.first{
    background-color: pink;
    font-size: 19 pt;
}

.second {
    background-color: #3ab9e6;
    color: green;
    font-size: 17 pt;
    font-weight: bold;
}

.third {
    background-color: coral;
    color: blue;
    font-size: 10 pt;
    font-family: Arial;
}
